$primary-background-color: #fff5f6;
$secondary-background-color: #ffffff;
$primary-text-color: #000000;

$secondary-text-color: #907e82;
$tex-color-grey: #907e82;

$pink-text-color: #ffa5ba;
$tex-color-pink: #ffa5ba;

$primary-font: "DM Sans", sans-serif;
$main-fonts: "DM Sans", sans-serif;
